@font-face{
    src: url(../media/FontsFree-Net-point-soft-book.ttf);
    font-family: golf;
}

@font-face{
    src: url(../media/Ndiscover\ -\ Point\ Soft\ DEMO\ Light.otf);
    font-family: golf-light;
}


h1{
    font-family: golf;
}
h2{ 
    font-family: golf;
}
h5{
    font-family: golf-light;
}
input{
    font-family: golf-light;
}
p{
    font-family: golf-light;
}
u{
    font-family: golf-light;
}
button{
    font-family: golf;
}

:root {
    --blue: #4B75FF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

*:focus {
    outline: 0 !important;
}

#signUpContainer input,
button {
    display: block;
    margin: 20px auto;
    width: 230px;
    height: 35px;
    border: 2px solid #099D18;
    border-radius: 30px;
    padding-left: 15px;
    color: #099D18;
    cursor: pointer;
}

#signUpContainer button {
    width: 245px;
    height: 35px;
    border: 1px solid #099D18;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #143316;
    font-size: 22px;
    margin-top: 80px;
}

#signUpContainer button:hover {
    border-color: black;
}

.auth-logo {
    width: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Wiktor */

body {
    max-width: 400px;
    background-image: url(../media/background.png);
    background-attachment: fixed;
    background-size: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 80px;
}

header {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px;
}

/* menu */

.menu-icon {
    cursor: pointer;
    float: right;
    padding: 10px;
    position: relative;
    right: 20px;
    top: -55px;
    user-select: none;
}

.menu_item {
    float: left;
    padding: 0px;
    list-style-type: none;
    margin: 10px 0px;
}

.navicon {
    background: #000;
    display: block;
    height: 5px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
}

.navicon:before,
.navicon:after {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navicon:before {
    top: 10px;
}

.navicon:after {
    top: -10px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked~.menu {
    display: block;
    height: 200px;
}

.menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.dropdown_menu {
    display: none;
    position: relative;
    align-items: center;
    transition-duration: 1s;
    flex-direction: column;
    padding: 20px;
    top: 10px;
    left: 1.5em;
}

.nav_link {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav_link:hover {
    opacity: 0.5
}

h3:hover {
    opacity: 0.5
}

.menu-btn:checked~.dropdown_menu {
    display: flex;
}

/* function buttons */

.function_button {
    width: 340px;
    height: 60px;
    background: #fff;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    margin: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.icon {
    width: 60px;
    position: relative;
    top: -15px;
    margin: 10px;
}
.icon_small{
    width: 75px;
    position: relative;
    top: -15px;
    margin: 10px 3px 10px 10px;
}

.icon_margin_left{
    margin-right: 0px;
}

.function_name{
margin: 10px;
}


contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_item {
    list-style-type: none;
    margin: 10px 0px;
}

#signUpContainer p {
    margin: 0 auto;
    text-align: center;
}

.calendar-e {
    border: solid 1px #777;
    width: 100%;
    height: 600px;
}

/* home */
.content {
    width: 340px;
    height: 600px;
    background: #fff;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0px 30px 40px 30px;
    position: relative;
    top: -60px;
    z-index: 1;
    padding: 60px 20px 20px 20px;
  display: none;
  overflow: hidden;
}

.content1 {
    width: 340px;
    height: 500px;
    background: #fff;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0px 30px 40px 30px;
    position: relative;
    top: -60px;
    z-index: 1;
    padding: 60px 20px 20px 20px;
  display: none;
  overflow: hidden;
}

#charts{
    margin-top:20px;
}


#time{
text-align: center;
font-size: 16pt;
font-family: golf-light;
}

.counter-display{
    text-align: center;
    font-size: 38pt;
    margin-top: 10px;
}

.buckets_used{
    text-align: center;
    font-weight: 400;
    font-size: 12pt;
}

.counter-plus{
width: 280px;
height: 60px;
background: #6CC073;
color: white;
font-weight: 700;
font-size: 24pt;
text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
border: solid 2px #707070;
padding: 0px;
}

.counter-minus{
width: 180px;
height: 40px;
background: #FF6364;
color: white;
font-weight: 700;
font-size: 11pt;
text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
border: solid 2px #707070;
padding: 0px;
}

.bucket-icon{
    width: 200px;
    display: block;
    margin: 30px auto
}

.margin-top{
    margin: 30px 0px 0px 0px
}

.btn-group button {
    display: block;
    width: 80px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 30px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    background-color: white;
    padding: 5px;
    float: left; /* Float the buttons side by side */
    margin-left: 10px;
    margin-top: 50px;
}

.btn-group::after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #cc3e56;
    color: white;
  }

  .dt{
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
  }
